<%= link_to '< All lists', lists_path %>

<h1><%= @list.name %></h1>
<% if @list.photo.attached? %>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h3>Bookmarks</h3>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %><br>
    <%= bookmark.comment %><br>
    <p>Rating:<%= bookmark.movie.rating %></p>
    <p><%= bookmark.movie.overview %></p>
      <%= image_tag bookmark.movie.poster_url, alt: "#{bookmark.movie.title}", width: 200 %>
    <br>
   <%= link_to "Remove",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
